{% extends 'layout.html' %}
{% block body %}

<h2>Completed Tasks</h2>
{% for task in all_tasks %}
    {% if task.completed == False %}
        {{ task.description }}
        <br>
        {{ task.date_created }}
        <br>
        <form action = "{{ url_for('update', id=task.id }}">
            <input type=submit value="Update">
        </form>
        <form action = "{{ url_for('update', id=task.id }}">
            <input type=submit value="Update">
        </form>
        <br>
        <br>
    {% endif %}
{% end for %}

<h2>Completed Tasks</h2>
{% for task in all_tasks %}
    {% if task.completed == True %}
        {{ task.description }}
        <br>
        {{ task.date_created }}
        <br>
        <form action = "{{ url_for('update', id=task.id }}">
            <input type=submit value="Update">
        </form>
        <form action = "{{ url_for('update', id=task.id }}">
            <input type=submit value="Update">
        </form>
        <br>
        <br>
    {% endif %}
{% endfor %}

{% endblock body %}